<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ezreal.huanting">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:name=".HuanTingApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.BaseActivity"/>

        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.LocalMusicActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.NowPlayingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.RecentPlayActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.GedanInfoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.RankBillListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.RecomListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.RankBillActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.LocalSearchActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.DownLoadActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.GedanEditActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.GedanListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.GlobalSearchActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.AlbumInfoActivity"/>

        <service android:name=".service.MusicPlayService"/>
    </application>

</manifest>